{% extends "layout.twig" %}

{%  block content %}
    <h1>Me Contacter</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci beatae consectetur culpa deleniti, dignissimos distinctio doloribus et excepturi facilis id laboriosam maxime omnis possimus quasi quis, repellendus sit!</p>

    {% if flash.success %}
        <div class="alert alert-success">
            {{ flash.success }}
        </div>
    {% endif %}

    {% if flash.error %}
        <div class="alert alert-danger">
            {{ flash.error }}
        </div>
    {% endif %}

    <form action="{{ path_for('contact') }}" method="post">

        <div class="form-group">
            <label for="name">Votre nom</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>

        <div class="form-group">
            <label for="email">Votre email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>

        <div class="form-group">
            <label for="content">Votre message</label>
            <textarea class="form-control" name="content" id="content"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>

    </form>

{% endblock %}
