{% extends "layout.twig" %}

{%  block content %}
    <h1>Me Contacter</h1>

    <form action="{{ path_for('contact') }}" method="post">

        <div class="form-group">
            <label for="name">Votre nom</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>

        <div class="form-group">
            <label for="email">Votre email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>

        <div class="form-group">
            <label for="content">Votre message</label>
            <textarea class="form-control" name="content" id="content"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Envoyer">
        </div>

    </form>

{% endblock %}
