{% extends "layout.twig" %}

{%  block content %}
   <h1>Bienvenue {{ name }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquid atque consequatur culpa dicta facilis illum iusto laborum nostrum, nulla numquam odio odit officia officiis possimus reiciendis sit suscipit.</p>

{% endblock %}
